*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body, html {
    height: 100%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* .nav1{
      justify-content: flex-end !important;
  } */
  .container .container-fluid{
    width: 100%;
    height: 100%;
  }
  .bg { 
    /* The image used */
     background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center;
 
      color: white;
    /* Center and scale the image nicely */
 
    background-attachment: fixed;
    background-size: cover; 
  }
  #about{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-top: 15%;
      padding-bottom:10%;
  }
  #about h2{
      color:rgb(228, 215, 34);
      font-size:12vh;
      
  }
  .hrleft{
    min-width:4vw;

      max-width:4vw;
      height:0.1vh;
        margin-left:40vw;

     
      background-color: rgb(0, 0, 0);
      border-radius: 3vw;
    
}
.hrright{
  min-width:4vw;
  max-width:4vw;

  height:0.1vh;
  margin-right:40vw;

  
  background-color: rgb(0, 0, 0);
  border-radius: 3vw;
}
.title{
    margin-bottom:20vh;
    margin-top:3vh;
}
.row{
    max-width: 100vw;
}
h5 a{
  text-decoration: none; 
}
.bookit a{

    border-radius: 15%;
    padding: 0.2rem;
}
.rating{
    text-align: center;
}
div.car-card {
border:2px solid rgb(248, 192, 7);
border-radius:5%;
}
.card-image{
border-radius:5%;  
}

.bookit button{
    text-align: center;
    width: 30%;
    padding:3%;
    border-radius: 10%;
    color: rgb(168, 168, 11);
    border:2px solid rgb(168, 168, 11);
    background-color:rgb(255, 255, 255);
}
.bookit button:hover{
    background-color: rgb(168, 168, 11);
    color: rgb(255, 255, 255);
}
.bookit{
    text-align: center;
}


.rating i{
    color: #ecec14;
}
footer{
  margin-top:5%;
    background:linear-gradient(rgb(255, 255, 255),rgb(65, 198, 207));
  }
.footer-top{
    padding:0;
    max-width: 100vw;
  }
  .list1 li, .list2  li{
  margin-top:3vh;
  }