body {margin:0;
    padding:0;
    font-family: 'Lato';
  }
  h2
  {
  color:white;
  }
  .hometop{
     background:linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.719)); 
    width:100%;
    height:100vh;
    display:block;
    /* background-size: cover; */
  }
  /* .flip-container {
	perspective: 1000px;
}
	 flip the pane when hovered 
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {border:2px black solid;
	width: 320px;
	height: 480px;
}

 flip speed goes here 
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

hide back of pane during swap 
.front, .back {
	text-align: center;
	backface-visibility: hidden;

	position: absolute;
	
}

front pane, placed above back 
.front {
	z-index: 2;
	
	transform: rotateY(0deg);
}

 back, initially hidden pane 
.back {
	transform: rotateY(180deg);
} */
.crossfade{
  padding:0;
  margin:0;
   
    
  }
  .crossfade  figure {
  z-index:-3;
    animation: imageAnimation 15s linear infinite ;
  
    backface-visibility: hidden;
  
    background-size: cover;
  
    
  
    color: transparent;
  
    height: 120vh;
    width:100vw;
   margin:0;
    left: 0px;
  
    opacity: 0;
  
    position: absolute;
  
    top: 0px;
  
    
  
  
  
  }
  .crossfade  figure:nth-child(1) { background-image: url('../img/1.jpg'); }
   
  .crossfade  figure:nth-child(2) {
  
    animation-delay: 3s;
  
    background-image: url('../img/2.jpg');
  
  }
  
   
  
  .crossfade  figure:nth-child(3) {
  
    animation-delay: 6s;
  
    background-image: url('../img/3.jpg');
  
  }
  
   
  
  .crossfade  figure:nth-child(4) {
  
    animation-delay: 9s;
  
    background-image: url('../img/4.jpg');
  
  }
  
   
  
  .crossfade  figure:nth-child(5) {
  
    animation-delay: 12s;
  
    background-image: url('../img/5.jpg');
  
  }
  
  
  @keyframes
  
  imageAnimation {  0% {
   
   animation-timing-function: ease-in;
  
   opacity: 0;
  
  }
  
   25% {
  
   animation-timing-function: ease-out;
  
   opacity: 1;
  
  }
  
   40% {
  
   opacity: 1
  }
  
   80% {
  
   opacity: 0
  
  }
  
  
  
  }


  .navbar {
    overflow: hidden;
    z-index: 4;
    height:5vmax;
   position: fixed;
   width:100vmax;
    background:linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.308));
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding:1vmax 1vmax;
    margin-top:1vmax;
    margin-left: 1vmax;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    color:white;
    margin-top:1vmax;
    padding-top:1vmax;
   
    margin-left: 2vmax;
    margin-right:10vmax;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding-bottom: 1vmax;
    
    background: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover  {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
   left:0;
  text-align:center;
  background-color: #f9f9f9;
    min-width: 100vmax;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    left:0;
    margin-left:0;
    padding: 12px 45vw;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(212, 122, 122);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  form {
    display: block;
    margin-top: 0em;
}
.form-group {
    margin-bottom: 1rem;
}

/* *, *::before, *::after {
    box-sizing: border-box;
}
.default-select {
    height: 40px;
}
select {
    writing-mode: horizontal-tb ;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    font: 400 13.3333px Arial;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
} */

.hometop-main
{
   
    height:100%;
    
    background-size:100% 100%;

}
.hometop-intro

{   padding-top:10vmax;
   
   
    /* max-width:40vmax; */
    color:rgb(44, 38, 38);
}
.hometop-intro h2
{   margin:0;
  color:rgb(236, 233, 8);
    font-size:4rem;
    font-weight: bolder;
    text-align: center;
}
.hometop-intro p{
  font-weight:bolder;
  font-size:1.2rem;
  text-align: center;
  color:white;
}
.rentnow 
{  width:12vw;
  margin-left:43vw;
    margin-top:5%;
    
}
   .rentnow h2{
    padding: 0.9vmax 0.5vmax;  
    text-align: center; 
    
       /* font-weight: lighter; */
    font-size:1.5rem;
    color:rgb(255, 255, 255);
    background:rgb(236, 233, 8);

}
/* .rentnow:hover*/ .rentnow h2:hover{ 
    border:1px solid rgb(236, 233, 8);
    color:rgb(236, 233, 8);
    background:transparent;
}
input[type=text],input[type=email],select{
    border:1px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    border-radius: 4%;
    min-width:9vmax;
    max-width: 9vmax;
    max-height:2vmax;
    padding-left:1%;
    background: transparent;
    
  margin-right:1%;
  }
  input::placeholder
  {
    color:white;
  }
  select{
    border:1px solid rgb(255, 255, 255);
 
   
  
    max-width: 9vmax;
    
    padding-left:1%;
    background: transparent;

      min-width:9vmax;
      min-height:2.3vmax;
     color:rgb(255, 255, 255);
   
    
  }
  option{
    font-weight: bolder;
    color:rgb(0, 0, 0);
    padding-top:10px;
  }

  
 
  .formcontainer
  {  margin-top:5vmax;
    margin-bottom: 5vmax;
   margin-left:19vmax;
      
  }
  .form-innercontainer{
    padding:3vmax;
    
    display:flex;
    width: 54vw;
   background: rgba(0, 0, 0, 0.658);
  }
  .form-submit
  {   margin-left:1vw;
      min-width:10vmax;
      padding: 0;
      padding-top:0.5%;
      padding-bottom: 0.5%;
      /* max-height:2vmax; */
    background: black;
    color: white;
    border:1px solid white;
  
  }
  .form-submit h4{
    font-size: 1rem;
 
    margin: 0;
  }
  .form-submit:hover {
      color: white;
      background:rgb(199, 196, 17); ;
      border:2px solid rgb(196, 193, 21);
  }
  .our-services{
  background: linear-gradient(rgba(0, 0, 0, 0.733),rgba(0, 0, 0, 0.719)) ;
  background-size:cover;
 } 
 .section-spacing
 {
   min-width:100vw;
   min-height:2vw;
   background-color:rgb(15, 14, 14);
   border:10px black solid;
 }
 .crossfade1{
  padding:0;
  margin:0;
   
    
  }
  .crossfade1  figure {
  z-index:-3;
    animation: imageAnimation 15s linear infinite ;
  
    backface-visibility: hidden;
  
    background-size: cover;
  
    
  
    color: transparent;
  
    height: 120vh;
    width:100vw;
   margin:0;
    left: 0px;
  
    opacity: 0;
  
    position: absolute;
  
  
  
    
  
  
  
  }
  .crossfade1  figure:nth-child(1) { background-image: url('../img/1.jpg'); }
   
  .crossfade1  figure:nth-child(2) {
  
    animation-delay: 3s;
  
    background-image: url('../img/2.jpg');
  
  }
  
   
  
  .crossfade1  figure:nth-child(3) {
  
    animation-delay: 6s;
  
    background-image: url('../img/3.jpg');
  
  }
  
   
  
  .crossfade1  figure:nth-child(4) {
  
    animation-delay: 9s;
  
    background-image: url('../img/4.jpg');
  
  }
  
   
  
  .crossfade1  figure:nth-child(5) {
  
    animation-delay: 12s;
  
    background-image: url('../img/5.jpg');
  
  }
  
  
  @keyframes
  
  imageAnimation {  0% {
   
   animation-timing-function: ease-in;
  
   opacity: 0;
  
  }
  
   25% {
  
   animation-timing-function: ease-out;
  
   opacity: 1;
  
  }
  
   40% {
  
   opacity: 1
  }
  
   80% {
  
   opacity: 0
  
  }
  
  
  
  }
  .subtitles{
 padding-top:5vmax;
 padding-bottom:3vmax;


  }
  .subtitles h2{
      font-size:1.9rem;
      color:white;
      text-align: center;
  }
  .undersubtitles{
      color:rgb(196, 199, 46);
      display: flex;
      margin-bottom:5vmax;
  }
.hrleft{
    
        min-width:3vw;
        height:0.4vh;
         /* margin-left:45vw;  */
         margin-left:45vw;
         margin-right:1%;
       
        background-color: rgb(255, 255, 255);
        border-radius: 3vw;
      
  }
  .hrright{
    min-width:3vw;
    height:0.4vh;
     /* margin-left:45vw;  */
     margin-left:1%;
     margin-right:45vw;
   
    background-color: rgb(255, 255, 255);
    border-radius: 3vw;
  }
  .undersubtitles2
  { color: white;
      text-align: center;
  }
  .services{
 padding:0vmax 0 0  4vmax;
  }
  .services1
  { display:flex;
      /* padding:10vmax 20vmax; */
     max-width:100vmax;
     height:auto;
  }
  .services2
  { display:flex;
      /* padding:10vmax 20vmax; */
     max-width:100vmax;
     height:auto;
  }


  .each-service
  {  
      display: flex;
      height:auto;
  }
  .flipcontainer {
    perspective: 1000px;
  }
    /* flip the pane when hovered */
    .flipcontainer:hover .flipper {
      transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
    }
  .flipcontainer{
    
    min-width: 15vmax;
    max-width:15vmax;
    min-height:12vmax;
  }
  
  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  
    position: relative;
  }
  
  /* hide back of pane during swap */
  .each-service-logo, .each-service-desc-desc {
    backface-visibility: hidden;
   
    position: absolute;
  
  }
  
  /* front pane, placed above back */
  .each-service-logo {
    z-index: 5;
    min-width: 15vmax;
    max-width:15vmax;
    min-height:12vmax;
    /* for firefox 31 */
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  .logo{
    padding:25% 40%;
    color:rgb(241, 245, 12);
    min-height:4.5vmax;
    max-height: 4.5vmax;
  }
  /* back, initially hidden pane */
  .each-service-desc-desc {
    padding-top:1vmax;
    text-align: center;
    z-index:3;
    min-width: 15vmax;
    max-width:15vmax;
    min-height:11vmax;
    color:rgb(255, 255, 255);
   border:1px solid rgb(241, 245, 12);
    
    background:transparent;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .each-service-img
  {
    min-width:15vmax;
    max-width:15vmax;
    min-height: 12vmax;
  }
  
  /* .each-service-logo{
      min-width:29vmax;
      max-width: 29vmax;
      height: 20vmax;
  } */
  .each-service-desc
  {
      min-width:15vmax;
      max-width: 15vmax;
      height:12vmax;
      justify-items: center;
    }
  .each-service-desc-title
  {   
   
      font-size:2rem;
      text-align: center;
      color:rgb(236, 233, 8);
  }
  /* .each-service-desc-desc
  {
      padding-left:2vmax;
      padding-right: 2vmax;
  } */
 .best
 {  
   display:flex;
   justify-content: space-evenly; 
  
 }
 .cardwrapper{
  min-width:20vmax;
  max-width:20vmax;
 }
 .card{
   padding:1vmax;
   background: transparent;
   min-width:20vmax;
   max-width:20vmax;
    margin-bottom: 2vmax;
  transition-duration: 0.3s;
  border:2px rgb(255, 255, 255) solid;
  color:rgb(255, 255, 255);
  back
  }
 .card h3{
   text-align: center;
 }
 .card p{
   text-align: center;
  
  }
.card:hover
{
transform: translate( -0.3vmax,-0.3vmax);
box-shadow: 5px 5px 5px black;