<div class="tab-pane fade active show" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
    <div class="row">
    <div class="col-lg-6 col-md-6">
    <div class="team-member-pro-pic  text-center">
    <img src="{%img-full%}" alt="JSOFT">
    </div>
    </div>
    <div class="col-lg-6 col-md-6 align-self-center">
    <div class="team-member-info  text-center ">
    <h4>{%name%}</h4>
    <h5>{%position%}</h5>
    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
    <p>{%desc%}</p>
    <div class="team-social-icon">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
     <a href="#"><i class="fab fa-dribbble"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>