
<div class="col-lg-4 text-center mt-3 mb-3 ">
    <div class="card car-card">
        <img src="{%img1%}"
            alt="the image alt text here" height="160rem" class="card-image mt-4 ml-5 mr-5">
        <div class="row justify-content-between mt-3">
            <h5 class="col-lg-12"><a href="#" class="text-danger">{%name%}</a></h5>
        <h8 class="col-lg-11 text-right text-primary font-italic mr-3"><u>Rent : {%price%}$ /day</u></h8></div>
        <hr class=" mt-2 ml-4 mr-3 mb-2 align-center col-lg-12">
        <div class="row justify-content-center mt-2 ml-2 mr-2">
        <p class=" col-lg-12 ">{%minidesc%}</p></div>
            <hr class=" mt-2 ml-4 mr-3 mb-2 align-center col-lg-9">
        <div class="row justify-content-around" >
            <h8 class="col-lg-12 text-center"> 0-60mph : {%time%} secs</h8>
            <h8 class="col-lg-12 text-center"> Top-Speed : {%topspeed%} Kmph</h8>
            <h8 class="col-lg-12 text-center">No. of Airbags : {%airbags%} </h8>
            </div>
            <hr class=" mt-2 ml-4 mr-3 mb-2 align-center col-lg-9">
        <p class="rating">
   {%rating%}
        </p>
        <a class="btn bookit mb-3" href="{%id%}">
            <button type="submit" >Book It</button>
        </a>
    </div>
</div>
